* {
  line-height: 1.5em;
  font-weight: bold;
}

.header {
  background-color: #de392e;
  color: #fbfbfb;
  padding: 12px;
}
.logo {
  font-size: 18px;
}
.logo--part {
  float: left;
  padding: 5px;
}
.logo--part img {
  width: 50px;
}
.logo--heading {
  text-align: center;
  border-bottom: 1px solid #fff;
  padding-bottom:2px;
  margin-bottom:2px;
}
.logo--tagline {
  font-size: 14px;
}
.filterbar {
  background-color: #ca3329;
  color: #fbfbfb;
  padding: 8px;

}
.dropdown-container {
  position: relative;
}
.dropdowns div {
  display:none;
}

body, .wrapper, .map-wrapper {
  height: 100%;
}
#map { position:absolute; top:0; bottom:0; width:100%; }
.map-wrapper {
  position: relative;

}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #526b98;
}
.mapboxgl-popup-content {
  background: #526b98;
  padding: 6px 8px;
  color: #fff;
}
.mapboxgl-popup-close-button {
  display: none;
}


.autocomplete-item {
    list-style: none;
    padding: 6px;
}

.autocomplete-list {
    margin: 0;
    background: #e0534a;
    color: #fbfbfb;
    padding: 0;
}

.dropdown-container .mdl-textfield {
}
.dropdown-container {
  height:73px;
  z-index:1;
}
.autocomplete-list {
  margin-top: -20px;
}
.autocomplete-item--key, .autocomplete-item--mouse {
    background-color: #f79a94;
    cursor: pointer;
}
