* {
  line-height: 1.5em;
  font-weight: bold;
}

.header {
  background-color: #de392e;
  color: #fbfbfb;
  padding: 12px;
}
.logo {
  font-size: 18px;
}
.logo--part {
  float: left;
  padding: 5px;
}
.logo--part img {
  width: 50px;
}
.logo--heading {
  text-align: center;
  border-bottom: 1px solid #fff;
  padding-bottom:2px;
  margin-bottom:2px;
}
.logo--tagline {
  font-size: 14px;
}
.filterbar {
  background-color: #ca3329;
  color: #fbfbfb;
  padding: 8px;

}
.dropdown-container {
  position: relative;
}
.dropdowns div {
  display:none;
}

body, .wrapper, .map-wrapper {
  height: 100%;
}
#map { position:absolute; top:0; bottom:0; width:100%; }
.map-wrapper {
  position: relative;

}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #526b98;
}
.mapboxgl-popup-content {
  background: #526b98;
  padding: 6px 8px;
  color: #fff;
}
.mapboxgl-popup-close-button {
  display: none;
}


.autocomplete-item {
    list-style: none;
    padding: 6px;
}

.autocomplete-list {
    margin: 0;
    background: #e0534a;
    color: #fbfbfb;
    padding: 0;
}

.dropdown-container {
  height:73px;
  z-index:1;
}
.autocomplete-list {
  margin-top: -20px;
}
.autocomplete-item--key, .autocomplete-item--mouse {
    background-color: #f79a94;
    cursor: pointer;
}


@keyframes slidein {
  from {
    left: -350px;
  }

  to {
    left: 0;
  }
}

.sidebar {
    position: absolute;
    background: #fff;
    height: 100%;
    z-index: 1;
    left: -430px;
    width: 430px;
    animation: slidein 0.25s forwards;
    animation-delay: 0s;
}

.sidebar--block > div {
    padding: 20px;
}

.sidebar--block:first-child {
    background: #fbfbfb;
}

.hide-overflow {
  overflow: hidden;
}


.grid__overflow-wrapper {
  position: relative;
  width: 330px;
  height: 240px;
  margin: 0;
  padding: 0!important;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  float: left;
  overflow: hidden;
}
.grid {
  width: 2000px;
  height: 2000px;
}
.grid__sticky-header {
  width: 2000px;
  height: 40px;
  margin-left: 55px;
  overflow: hidden;
  position: relative;
 }
.grid__sticky-column {
  float: left;
  width: 55px;
  height:1000px;
  clear: left;
  overflow:hidden;
}
.grid__table {
  border-spacing: 0;
}

.grid__cell {
  border-top: 1px solid #ccc;
  border-spacing:0;
  margin:0;
  padding:2px;
  font-size:12px;
  text-align:right;
  height: 40px;
  width: 50px;
  text-align: center;
  border-left: 1px solid #ccc;
  background-color: #fcfcfc;
}
.grid__cell--selectable {
  background-color: #fff;
}
.grid__cell--selectable:hover {
  cursor: pointer;
  background-color: #f7c6c3;
}
.grid__cell--header {
  font-weight: bold;
  background-color: transparent;
  border: 0;
  float: left;
  box-sizing: border-box;
  line-height: 36px;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  width: 55px;
  background-color: #fbfbfb;
}

.grid__slider {
  position:relative;
  transition: 0.4s;
}
.grid__cell--empty {
  background-color: #fcfcfc;
}
.grid__controls > button {
  margin-right: 10px;
  margin-bottom: 10px;
}
.grid__controls--top {
  float: right;
}
.grid__controls--side {
  float: left;
  width: 40px;
  position: relative;
  top: 160px;
}