.mdl-button--fab.mdl-button--mini-fab {
    height: 30px;
    min-width: 30px;
    width: 30px;
    text-transform: none;
}
.mdl-button--accent.mdl-button--accent.mdl-button--raised, 
.mdl-button--accent.mdl-button--accent.mdl-button--fab {
    background-color: #ef3f34;
}
label.mdl-checkbox {
    margin: 24px 0;
}

.mdl-spinner--light-bg .mdl-spinner__layer-1,
.mdl-spinner--light-bg .mdl-spinner__layer-2,
.mdl-spinner--light-bg .mdl-spinner__layer-3,
.mdl-spinner--light-bg .mdl-spinner__layer-4 {
    border-color: #fff;
}
.mdl-tabs__tab {
    font-size: 11px;
    line-height: 22px;
}